* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #3c2449;
  color: #fff;
  font-size: 16px;
  overflow-x: hidden;

  /* permite deslizar para baixo */
}

header {
  position: fixed;
  width: 90vw;
  top: 0;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
}

.logo {
  font-family: "Grenze Gotisch", serif;
  font-size: 2rem;
  font-weight: 900;
  color: #a86aa0;
  text-shadow: 0 0 10px rgba(226, 22, 131, 0.5);
}

header nav ul {
  display: flex;
  gap: 48px;
}

header nav ul li {
  cursor: pointer;
  position: relative;
  padding: 5px 0;
}

header nav ul li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #9824ce;
  transition: width 0.2s ease;
}

header nav ul li:hover::after {
  width: 100%;
}

.container {
  height: 100vh;
  position: relative;
  background: linear-gradient(135deg, #1f1424 0%, #240b3b 100%);
  overflow-x: hidden;
}

.container::before {
  content: "";
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: radial-gradient(circle,
      rgba(74, 241, 241, 0.2) 0%,
      rgba(40, 191, 218, 0) 70%);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: blur(50px);
  z-index: 1;
  animation: pulse 4s infinite alternate;
}

@keyframes pulse {
  0% {
    opacity: 0.5;
    transform: translate(-50%, -50%) scale(0.8);
  }

  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.5);
  }
}

.list {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.item {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;

  /*ANIMACÇÃO*/
  transform: translateX(100vw);
  transition: transform 0.7s ease-in-out, opacity 0.7s ease-in-out;

}

.active {
  opacity: 1;
  transform: translateX(0);
}

.product-img {
  width: 45%;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
}

.product-img img {
  max-width: 80%;
  max-height: 60%;
  filter: drop-shadow(0, 0 30px rgba(177, 23, 169, 0.3));
  object-fit: contain;
  /* para garantir que a imagem se ajuste sem deformar */
  /*ANIMACÇÃO*/
  transform: translateX(200px);
  opacity: 0;

}

.active .product-img img {
  transform: translateX(0);
  opacity: 1;
  transition-delay: 0.6s ease, opacity 0.6s ease;
}

.content {
  width: 55%;
  padding-right: 80px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  z-index: 2;
  flex-direction: column;
}

.product-tag {
  font-size: 1rem;
  text-transform: uppercase;
  color: #ad24ec;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.product-name {
  font-size: 4.5rem;
  font-family: "Grenze Gotisch", serif;
  line-height: 1.1;
  margin-bottom: 20px;
}

.description {
  font-size: 1.1rem;
  color: #b8b8d0;
  line-height: 1.6;
  margin: 30px;
  max-width: 600px;
}

.btn {
  padding: 12px 16px;
  background: linear-gradient(90deg, #4311a1, #c92b87);
  border-radius: 30px;
  color: #26c3ce;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  border: none;
}

.btn:hover {
  background: linear-gradient(90deg, #8612d4, #ff00dd);
}

.arrows {
  position: absolute;
  width: 90%;
  display: flex;
  justify-content: space-between;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

.arrow-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  background-color: rgba(121, 18, 131, 0.1);
  border: 1px solid rgba(174, 0, 255, 0.3);

}

.arrow-btn:hover {
  background-color: #ba14c0;
  border-color: #9712d4;

}

.indicators {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translatex(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  z-index: 5;
}

.numbers {
  font-family: "Grenze Gotisch", serif;
  font-size: 3rem;
  font-weight: 800;
  color: rgba(255, 255, 255, 0.2);

}

.dots {
  display: flex;
  gap: 10px;

}

.dot {
  width: 40px;
  height: 4px;
  background-color: rgba(115, 26, 143, 0.2);
  border-radius: 2px;
}

.dot.active {
  background-color: #8415df;
  box-shadow: 0 0 10px rgba(0, 247, 255, 0.5);
}

.tech-circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circle {
  position: absolute;
  border-radius: 50%;
  border: 1px solid rgba(136, 37, 128, 0.2);

}

.circle:nth-child(1) {
  width: 200px;
  height: 200px;
  top: 10%;
  left: 10%;
  animation: pulse 4s infinite alternate;
  background-color: #281736;
  box-shadow: 0 0 10px rgba(206, 28, 176, 0.5);
}

.circle:nth-child(2) {
  width: 140px;
  height: 130px;
  top: 60%;
  left: 80%;
  animation: pulse 4s infinite alternate;
  background-color: #33134d;
   box-shadow: 0 0 10px rgba(218, 27, 192, 0.5);
   opacity: 0;
}

.circle:nth-child(3) {
  width: 120px;
  opacity: 0.1;
  height: 120px;
  top: 70%;
  left: 20%;
  animation: pulse 4s infinite alternate;
  background-color: #2c2433;
  box-shadow: 0 0 10px rgba(235, 26, 235, 0.5);
}

.circle:nth-child(4) {
  width: 150px;
  height: 150px;
  top: 20%;
  left: 70%;
  background-color: #311747;
    box-shadow: 0 0 10px rgba(216, 57, 163, 0.5);
  animation: pulse 4s infinite alternate-reverse;
}


  
  
  
  
  
  
